@font-face {
	font-family: "Poppins";
	src: local("Poppins"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Poppins-Light";
	src: local("Poppins-Light"), url(./fonts/Poppins-Light.ttf) format("truetype");
}
@font-face {
	font-family: "Poppins-Bold";
	src: local("Poppins-Bold"), url(./fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Roboto";
	src: local("Roboto-Regular"),
		url(./fonts/Roboto-Regular.ttf) format("truetype");
}

body {
	margin: 0;
	font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
